#appbar {
	z-index: 100;
	height: $navbar-height;
	width: 100%;
	border-radius: 0;	
	background-image: linear-gradient(to bottom,rgb(255, 227, 141) 0,$primary-color 100%);

	&.collapse {
		display: none;
	}	
	
}